body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}
/* Header **/
header{
  background:rgba(127, 140, 141,1.0);
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:rgba(236, 240, 241,1.0)3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:black;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  height:670px;
  background:url('../img/header-min.jpg') ;
  text-align:left;
  color:#ffffff;
  background-size: cover;
}

#showcase h1{
  padding-top: 200px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a;
  height: 500px;
}

#newsletter h1{
  text-align: center;
}

/* Boxes */
#boxes{
  margin-top:20px;
  background-color: blue;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}
#boxes h1{
  text-align: center;
}
/* Boxes2 */
#boxes2{
  margin-top:20px;
  background-color:yellow;
}

#boxes2 .box2{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes2 .box2 img{
  width:90px;
}
#boxes2 h1{
  text-align: center;
}

.extra_profil{
	background: #c0c0c0;
  box-sizing:border-box;
  font-family: sans-serif;
}

.wrapper_profil{
	text-align: center;
}

.wrapper_profil h1{
	font-family: cursive;
	color: black;
	font-size:48px;
	margin-bottom: 25px;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{
	width: 200px;
	margin: 5px;
	background: #fff;
	padding: 20px 10px;
	border-radius: 18px;
}

.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 100px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_team .team_member h3{
	text-transform: uppercase;
	font-size: 14px;
	line-height: 13px;
	letter-spacing: 1.5px;
	margin: 10px 0 0;
}

.our_team .team_member span{
	font-size: 9px;
}

.our_team .team_member p{
	margin-top: 12px;
	font-size: 12px;
	line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 4px;
  left: 1 px;
  background: rgba(0,0,0,0.65);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transform: scale(0);
  align-items: center;
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab{
  color: #8c7ae6;
  font-size: 25px;
}

.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}


footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding
  {
    float:none;
    text-align:center;
    width:100%;
  }
  header nav
  {
    float:none;
    text-align:center;
    width:100%;
  }
  header nav li
  {
    float:none;
    text-align:center;
    width:100%;
  }
  #newsletter h1
  {
    float:none;
    text-align:center;
    width:100%;
  }
  #boxes .box
  {
    float:none;
    text-align:center;
    width:100%;
  }
  #boxes2 .box2
  {
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
    background-size: cover;
  }

}
